<nb-layout>
  <nb-layout-header>Awesome Company</nb-layout-header>
  <nb-layout-column style="background: rgb(218, 150, 150);" class="colored-column-warning">
    <nb-card [status]="item.noStudent==true? 'success' : 'danger'" *ngFor="let item of items | async">
      <nb-card-header>{{ item.name }}</nb-card-header>
      <nb-card-body>
        {{ item.content }}
      </nb-card-body>
      <nb-card-footer>{{ item.author }}</nb-card-footer>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column class="colored-column-danger">
    <form (ngSubmit)="onSubmit(f)" #f='ngForm'>
      <nb-card>
        <nb-card-body class="example-items-col">
          <input name="name" ngModel type="text" nbInput fullWidth shape="round" placeholder="Round">
          <br>
          <br>
          <textarea name="desc" ngModel nbInput fullWidth shape="round" placeholder="Textarea" >
          </textarea>
          <br>
          <br>
          <input name="author" ngModel type="text" nbInput fullWidth shape="round" placeholder="Round">
          <br>
          <br>
          <span class="caption-2 text-hint">Are You a Student</span>
          <br>
          <br>
          <nb-toggle name="wasStudent" ngModel status="info"></nb-toggle>
        </nb-card-body>
        <nb-card-body class="example-items-rows">
          <button type="submit" style="margin-right:10px;" nbButton hero status="success">Success</button>
          <button nbButton disabled>Disabled</button>
        </nb-card-body>
      </nb-card>
    </form>
  </nb-layout-column>
</nb-layout>